body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("a.jpg");
    background-size:100% 850px;
    background-repeat:no-repeat;
}

.form-container{

    box-sizing:border-box;
    width:60%;
    
    margin:140px 0px 0px 260px;
    padding:30px 30px;
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    
}

.logo-tittle
{
    
    margin-top:-97px;
    margin-left:300px;
    margin-bottom:18px;
    color:#1B4F72   ;
}

input [type="text"]
{
    color:white;
}

